div {
  width: 30%;
  margin: 10% auto;
  padding: 10px;
  background-color: #faebd6;
}

h1 {
  color: #ff0000;
  font-size: 1.4em;
  font-style: bold;
}

h1 + p {
  color: #ff0000;
}

p:last-child {
  color: #00008f;
}

/* h1 + p + p {
  color: #00008f;
} */
